<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9390bf4c-abd8-40e2-8b70-4c02c930a15e/resourcegroups/candidatosApi/providers/Microsoft.Web/sites/exchangeHouseapi20251114154545</ResourceId>
    <ResourceGroup>candidatosApi</ResourceGroup>
    <ApiResourceId>/subscriptions/9390bf4c-abd8-40e2-8b70-4c02c930a15e/resourceGroups/candidatosApi/providers/Microsoft.ApiManagement/service/CandidatosApi/apis/exchangeHouseapi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://exchangehouseapi20251114154545-b2d4gqd8bbffdhfs.brazilsouth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>b98594e9-2b53-4d88-babd-78b4c2e28963</ProjectGuid>
    <PublishUrl>https://exchangehouseapi20251114154545-b2d4gqd8bbffdhfs.scm.brazilsouth-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>